<div class="face-snap-card" >
<!-- [ngClass]="{ snapped: userHasSnapped }" -->

    <h2>{{ faceSnap.title | titlecase}}</h2>
    <button (click)="onViewFaceSnap()">VIEW</button>

   <!--  @if(faceSnap.location){
        <p>Localisation : {{ faceSnap.location }}</p>
    } @else {
        <p>Localisation non spécifiée</p>
    }
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p>FaceSnap créée le {{ faceSnap.createdAt | date: 'd MMMM yyyy, à HH:mm' }}</p>
    <p>
        <button (click)="onSnap()">{{ snapButtonText }}</button>
        <span [ngStyle]="{ color: 'rgb(0, '+ faceSnap.snaps + ', 0' }">
            🤌 {{ faceSnap.snaps }}</span>
    </p>
    <h5>DecimalPipe: {{ myLargeNumber | number: '1.0-0' }}</h5>
    <h5>PercentPipe: {{ myPercentage | percent: '1.3-3' }}</h5>
    <h5>CurrencyPipe: {{ myprice | currency : 'EUR' : 'code' : '1.0-1' }}</h5> -->
</div>